# Analyse results of custom blank model

## 1: Setup

### 1.1: Load models and packages

In [19]:
import os
import pandas as pd
from pathlib import Path

In [24]:
# Load the results of this model
returned_filepath = "../../../data/hand_annotated_abstracts/results/"
custom_en_blank_results_df = pd.read_csv(os.path.join(returned_filepath, "custom_en_blank.csv"))
custom_en_blank_results_df = pd.read_csv(os.path.join(returned_filepath, "custom_en_blank.csv"))

expected_filepath = "../../../data/hand_annotated_abstracts/answers/"
custom_en_blank_results_df = pd.read_csv(os.path.join(expected_filepath, "blank.csv"))

,corpus,test_ent_text,test_ent_label,test_ent_start,test_ent_end,id,pmid
0,Trace Element Uptake and Accumulation in the M...,Hypericum perforatum L. Across Different Geoli...,scientific,60,125,36,30043286
1,Trace Element Uptake and Accumulation in the M...,St. John's wort,common,781,796,36,30043286
2,Improvements in estrogen deficiency-induced hy...,gut microbiota,common,120,134,37,33383372
3,Improvements in estrogen deficiency-induced hy...,HP extract,common,332,342,37,33383372
4,Improvements in estrogen deficiency-induced hy...,LDL-C,common,1844,1839,37,33383372

In [21]:
# Split of entity labels
custom_en_blank_results_df.value_counts("test_ent_label")

test_ent_label
scientific    27
common        18
dtype: int64

In [22]:
# Total number of entities returned
len(custom_en_blank_results_df)

45

In [23]:
# Number of entities and unique entities for each abstract
custom_en_blank_results_df[["id", "test_ent_label"]].groupby("id").agg(["count", "nunique"])

   test_ent_label
            count nunique
id
23              4       1
24              2       2
25              7       2
26              4       2
27              2       2
28              2       2
29              2       2
31              2       2
32              4       2
33              5       1
34              3       2
35              3       1
36              2       2
37              3       1